body{margin:0;font-family:Arial;background:#121212;color:#fff}
header{background:#ff4d8d;padding:18px;display:flex;gap:15px;align-items:center}
.logo{font-size:40px}
.container{max-width:800px;margin:auto;padding:15px}
select,input{width:100%;padding:12px;border-radius:12px;background:#1d1d1d;color:#fff;border:none;margin:10px 0}
.stats{display:grid;grid-template-columns:repeat(4,1fr);gap:8px;margin:12px 0}
.stats div{background:#1d1d1d;padding:10px;border-radius:12px;text-align:center}
.stats span{display:block;color:#ff4d8d;font-size:22px;font-weight:bold}
.card{background:#1d1d1d;padding:14px;border-radius:14px;margin:10px 0}
.card.ok{background:#1f4f2c}
.nombre{font-size:14px;font-weight:700}
.info{font-size:12px;color:#bbb;margin-top:3px}
.header-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.check{
    background:#ff4d8d;
    color:white;
    border:none;
    border-radius:18px;
    padding:4px 10px;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
}

.card.ok .check{
    background:#2eaf52;
}
#nuevo{position:fixed;right:18px;bottom:18px;width:58px;height:58px;border-radius:50%;border:none;background:#ff4d8d;color:#fff;font-size:28px}
